
.StockPage-container {
    width: 100%;
}
.StockPage {
    width: 100%;
    margin-top: 10px;
    font-size: large;
    border-radius: 10px;
    background-color: white;
    color: black;
    display: flex;
    text-align: left;
    .data-container {
        margin: 1rem;
        width: 35%;

        div {
            margin-top: 10px;
            div {
                display: inline;
            }
        }
    }
    
}

.div-loading {
    margin: 1rem;
    text-align: center;
    width: 100%;
    border-radius: 50px;
    padding: 20px;
    
    .loading-spinner {
        animation: animate 2s infinite;
      }
      
      @keyframes animate {
        0% {
          transform: rotate(0deg);
        }
        100% {
          transform: rotate(720deg);
        }
      }
}

.div-error {
    margin: 1rem;
    text-align: center;
    width: 100%;
    background-color: #ff3f3f;
    border-radius: 50px;
    padding: 20px;
}